<h1><strong>Voluntários</strong></h1>
<a class="btn btn-secondary" style="max-width: 200px;" href="/voluntarios/cadastrar">Novo Voluntário</a>

<hr>
<div>
    <table class="table table-striped">
        <tr>
            <th>ID da Pessoa</th>
            <th>Disponibilidade Mensal (Horas)</th>
            <th>Habilidades</th>
            <th>Preferência de Atuação</th>
            <th>Ações</th>
        </tr>
        <% voluntarios.forEach(voluntario=> { %>
            <tr>
                <td>
                    <%= voluntario.Pessoa_id %>
                </td>
                <td>
                    <%= voluntario.voluDisponibilidade %>
                </td>
                <td>
                    <%= voluntario.voluHabilidades %>
                </td>
                <td>
                    <%= voluntario.voluPrefeAtuacao %>
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Ações">
                        <a href="/voluntarios/<%= voluntario.Pessoa_id %>/editar" class="btn btn-edit btn-primary btn-sm bt-css"><i class="fas fa-pen"></i></a>
                        <button type="button" class="btn btn-danger btnExclusao btn-sm" data-toggle="modal" data-target="#confirmarExclusao<%= voluntario.Pessoa_id %>"><i class="fas fa-trash"></i></button>
                        <!-- Modal -->
                        <div class="modal fade" id="confirmarExclusao<%= voluntario.Pessoa_id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirmar exclusão de voluntário</h5>
                                        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Tem certeza que deseja excluir este voluntário?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <form action="/voluntarios/<%= voluntario.Pessoa_id %>?_method=DELETE" method="POST">
                                            <button type="submit" class="btn btn-danger">Excluir</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <% }); %>
    </table>
</div>